.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 15px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.search-bookings {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 3px;
    padding: 3px;

}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}
button {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
}
button:hover {
    color: rgb(128, 128, 128);
}
.table-container{
    width: 100%;
}
table {
    border-collapse: collapse;
    border: 5px;
}

tr {
    border-bottom: 1px solid #ddd;
}

td, th {
    padding: 8px;
    text-align: left;
    width: auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

a {
    color: black;
    text-decoration: none;
    padding: 4px 8px;
    border: 1px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

a:hover {
    background-color: #ddd;
}
