<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header">
    <button onclick="location.href='/'">Home</button>
    <button onclick="location.href='/customers/all'">Customers</button>
    <button onclick="location.href='/bookings/all'">Bookings</button>
    <button onclick="location.href='/rooms/all'">Rooms</button>
    <button onclick="location.href='/contract-customers/all'">Contract Customers</button>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>
<div th:if="${not #lists.isEmpty(errorList)}">
    <div style="color: red;">
        <ul>
            <li th:each="error : ${errorList}" th:text="${error}"></li>
        </ul>
    </div>
</div>

<form action="/customers/added" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id = "name" name="name" value=""><br>
    <label for="email"> E-mail:</label><br>
    <input type="text" id="email" name="email" value=""><br><br>
    <input type="submit" value="Submit">
</form>


</body>
</html>