<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }
        tr {
            border-bottom: 1px solid #ddd;
        }
        td, th {
            padding: 4px;
            text-align: left;
        }
    </style>
</head>
<body>
<table>
    <td><a th:href="@{/customers/all}">Customers</a></td>
    <td><a th:href="@{/bookings/all}">Bookings</a></td>
    <td><a th:href="@{/rooms/all}">Rooms</a></td>
</table>
<form action="/rooms/created" method="post">
  <label for="bedCapacity">Bed Capacity:</label><br>
  <input type="text" id = "bedCapacity" name="bedCapacity" value="bedCapacity"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>