<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2>Reset Your Password</h2>
<div class="content">
    <form id="resetForm" th:action="@{/reset-password/submit}" method="GET">
        <input type="hidden" name="token" th:value="${token}">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br>
        <button type="submit">Reset Password</button>
    </form>
</div>
</body>
</html>

