<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header">
    <button onclick="location.href='/'">Home</button>
    <button onclick="location.href='/customers/all'">Customers</button>
    <button onclick="location.href='/bookings/all'">Bookings</button>
    <button onclick="location.href='/rooms/all'">Rooms</button>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>
<div class="content">
    <h3>All Bookings</h3>
    <div class="allBookings" th:unless="${#lists.isEmpty(allBookings)}">
        <table>
            <tbody>
            <tr th:each="book: ${allBookings}">
                <td th:text="${bookingId}"></td>
                <td th:text="${book.id}"></td>
                <td th:text="${from}"></td>
                <td th:text="${book.startDate}"></td>
                <td th:text="${until}"></td>
                <td th:text="${book.endDate}"></td>
                <td th:text="${roomId}"></td>
                <td th:text="${book.compRoom.id}"></td>
                <td th:text="${total}"></td>
                <td th:text="${book.total} + ${sek}"></td>
                <td>Customer:</td>
                <td th:text="${book.compCustomerDTO.name}"></td>
                <td><a th:href="@{/bookings/delete/{id}(id=${book.id})}">Delete</a></td>
                <td><a th:href="@{/bookings/edit/{id}(id=${book.id})}">Update</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <h3>Search Available Rooms</h3>
        <form action="/bookings/search" method="get" class="search-bookings">
            <label for="startDate">Start Date:</label>
            <input type="text" id="startDate" name="startDate" value="YYYY-MM-DD" class="left-align"><br>
            <label for="endDate">End Date:</label>
            <input type="text" id="endDate" name="endDate" value="YYYY-MM-DD" class="left-align"><br>
            <label for="numberOfPeople">Number of people:</label>
            <input type="text" id="numberOfPeople" name="numberOfPeople" value="" class="center-align"><br>
            <input type="submit" value="Submit">
        </form>

</div>

</body>
</html>
