<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>All Customers</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header">
    <button onclick="location.href='/'">Home</button>
    <button onclick="location.href='/customers/all'">Customers</button>
    <button onclick="location.href='/bookings/all'">Bookings</button>
    <button onclick="location.href='/rooms/all'">Rooms</button>
    <button onclick="location.href='/contract-customers/all'">Contract Customers</button>
    <button onclick="location.href='/admin/all'">Admin</button>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>
<div class="content">
    <h3>All Customers</h3>
    <div th:if="${not #lists.isEmpty(errorList)}">
        <div style="color: red;">
            <ul>
                <li th:each="error : ${errorList}" th:text="${error}"></li>
            </ul>
        </div>
    </div>
    <div class="allCustomers" th:unless="${#lists.isEmpty(allCustomers)}">
        <table>
            <tbody>
            <tr th:each="cus: ${allCustomers}">
                <td th:text="${cus.name}"></td>
                <td th:text="${cus.email}"></td>
                <td sec:authorize="hasAuthority('Admin')"><a th:href="@{/customers/delete/{id}(id=${cus.id})}">Delete</a></td>
                <td sec:authorize="hasAuthority('Admin')"><a th:href="@{/customers/edit/{id}(id=${cus.id})}">Update</a></td>
                <td><a th:href="@{/customers/customerBookings/{id}(id=${cus.id})}">Show bookings</a></td>
                <td><a th:href="@{/customers/createBooking/{id}(id=${cus.id})}">New booking</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/customers/add">
        <input type="submit" value="Add new customer">
    </a>
</div>
</body>
</html>
