<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header">
    <button onclick="location.href='/'">Home</button>
    <button onclick="location.href='/customers/all'">Customers</button>
    <button onclick="location.href='/bookings/all'">Bookings</button>
    <button onclick="location.href='/rooms/all'">Rooms</button>
    <button onclick="location.href='/contract-customers/all'">Contract Customers</button>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>
<div class="content">

    <h3>All Customers</h3>
    <form th:action="@{/contract-customers/all}" method="get">
        <b>Search:</b>
        <input type="text" name="q" th:value="${q}">
        <input type="hidden" name="sortCol" th:value="${sortCol}">
        <input type="hidden" name="sortOrder" th:value="${sortOrder}">
        <button type="submit">Search</button>
    </form>
    <div class="allCustomers" th:unless="${#lists.isEmpty(allCustomers)}">
        <table>
            <thead>
            <tr>
                <th>
                    <b>Company name</b>
                    <a th:href="@{|/contract-customers/all?q=${q}&sortCol=companyName&sortOrder=asc|}">
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                    </a>
                    <a th:href="@{|/contract-customers/all?q=${q}&sortCol=companyName&sortOrder=desc|}">
                        <i class="fa-solid fa-arrow-down-z-a"></i>
                    </a>
                </th>
                <th>
                    <b>Contact name</b>
                    <a th:href="@{|/contract-customers/all?q=${q}&sortCol=contactName&sortOrder=asc|}">
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                    </a>
                    <a th:href="@{|/contract-customers/all?q=${q}&sortCol=contactName&sortOrder=desc|}">
                        <i class="fa-solid fa-arrow-down-z-a"></i>
                    </a>
                </th>
                <th>
                    <b>Country</b>
                    <a th:href="@{|/contract-customers/all?q=${q}&sortCol=country&sortOrder=asc|}">
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                    </a>
                    <a th:href="@{|/contract-customers/all?q=${q}&sortCol=country&sortOrder=desc|}">
                        <i class="fa-solid fa-arrow-down-z-a"></i>
                    </a>
                </th>
                <th>
                    <b>(Button)</b>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cus : ${allCustomers}">
                <td th:text="${cus.companyName}"></td>
                <td th:text="${cus.contactName}"></td>
                <td th:text="${cus.country}"></td>
                <td><a th:href="@{/contract-customers/{id}(id=${cus.id})}">View Details</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
