<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header">
    <button onclick="location.href='/'">Home</button>
    <button onclick="location.href='/customers/all'">Customers</button>
    <button onclick="location.href='/bookings/all'">Bookings</button>
    <button onclick="location.href='/rooms/all'">Rooms</button>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>
<h3>All Customers</h3>
<div class="allCustomers" th:unless="${#lists.isEmpty(allCustomers)}">
    <table class="table-container">
        <tbody>
        <tr th:each="cus: ${allCustomers}">
            <td th:text="${cus.companyName}"></td>
            <td th:text="${cus.contactName}"></td>
            <td th:text="${cus.country}"></td>
            <!--<td><a th:href="@{/customers/delete/{id}(id=${cus.id})}">Delete</a></td>
            <td><a th:href="@{/customers/edit/{id}(id=${cus.id})}">Update</a></td>
            <td><a th:href="@{/customers/customerBookings/{id}(id=${cus.id})}">Show bookings</a></td>
            <td><a th:href="@{/contract-customers/check-blacklist/{id}(id=${cus.id})}">Create new booking</a></td>-->
        </tr>
        </tbody>
    </table>
</div>
<a href="/customers/add">
    <input type="submit" value="Add new customer">
</a>
</body>
</html>
