<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Room ID</th>
        <th>Room Details</th>
        <th>Number of Beds</th>
    </tr>
    </thead>
    <tbody id="resultsBody">
    </tbody>
</table>
<div th:if="${not #lists.isEmpty(availableRooms)}">
    <th:block th:each="room : ${availableRooms}">
        <tr>
            <td th:text="${bookings.id}"></td>
            <td th:text="${room.numberOfBeds}"></td>
        </tr>
    </th:block>
</div>
<div th:if="${#lists.isEmpty(availableRooms)}">
    <p>No rooms available for selected dates</p>
</div>
</body>
</html>