<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header">
  <button onclick="location.href='/'">Home</button>
  <button onclick="location.href='/customers/all'">Customers</button>
  <button onclick="location.href='/bookings/all'">Bookings</button>
  <button onclick="location.href='/rooms/all'">Rooms</button>
  <button onclick="location.href='/contract-customers/all'">Contract Customers</button>
  <button onclick="location.href='/admin/all'">Admin</button>
  <div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
      <button type="submit">Logout</button>
    </form>
  </div>
</div>
<div class="content">
<table>
  <h3 th:text="${roomsHeader}"></h3>
  <tbody>
  <tr th:each="rooms: ${allRooms}">
    <td th:text="${roomId}"></td>
    <td th:text="${rooms.id}"></td>
    <td th:text="${bedCap}"></td>
    <td th:text="${rooms.bedCapacity}"></td>
    <td th:text="${price}"></td>
    <td th:text="${rooms.price}"></td>
    <td><a th:href="@{/rooms/delete/{id}(id=${rooms.id})}">Delete</a></td>
  </tr>
  </tbody>
</table>
<a href="/rooms/create">
  <input type="submit" value="Create new room">
</a>
<h3>View Room Events</h3>
<form th:action="@{/events/eventByRoomId}" method="get">
  <label for="roomId">Room ID:</label>
  <input type="text" id="roomId" name="roomId" required>
  <button type="submit">View Events</button>
</form>
</div>
</body>
</html>