<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing page</title>
    <link rel="stylesheet" th:href="@{css/style.css}">

</head>
<body>
<div sec:authorize="isAuthenticated()">
    <table>
        <td><a th:href="@{/customers/all}">Customers</a></td>
        <td><a th:href="@{/bookings/all}">Bookings</a></td>
        <td><a th:href="@{/rooms/all}">Rooms</a></td>
    </table>
</div>
<div class="home">
    <h2>Välkommen till hotellet!</h2>
    <br>
    <h4>Logga in för att komma åt våra tjänster.</h4>

    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <form th:action="@{/login}" method="get">
            <button type="submit">Login</button>
        </form>
    </div>
</div>

</body>
</html>
