<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header">
    <button onclick="location.href='/customers/all'">Customers</button>
    <button onclick="location.href='/bookings/all'">Bookings</button>
    <button onclick="location.href='/rooms/all'">Rooms</button>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>
<form th:action="@{/customers/confirmBooking}" method="post">
    <label for="startDate">Start date:</label><br>
    <input type="text" id="startDate" name="startDate"><br>
    <label for="endDate">End date:</label><br>
    <input type="text" id="endDate" name="endDate"><br><br>
    <label for="numberOfPeople">Number of People:</label><br>
    <input type="text" id="numberOfPeople" name="numberOfPeople"><br><br>
    <label for="roomId">Room ID:</label><br>
    <input type="text" id="roomId" name="roomId"><br><br>
    <input type="hidden" id="customerId" name="customerId" th:value="${customer.id}">
    <input type="submit" value="Submit">
</form>


</body>
</html>