<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table {
      border-collapse: collapse;
      width: 40%;
    }
    tr {
      border-bottom: 1px solid #ddd;
    }
    td, th {
      padding: 4px;
      text-align: left;
    }
  </style>
</head>
<body>

<div class="allBookings" th:unless="${#lists.isEmpty(allBookings)}">
  <table>
    <h3 th:text="${bookingsHeader + customerName}"></h3>
    <tbody>
    <tr th:each="book: ${allBookings}">
      <td th:text="${bookingId}"></td>
      <td th:text="${book.id}"></td>
      <td th:text="${from}"></td>
      <td th:text="${book.startDate}"></td>
      <td th:text="${until}"></td>
      <td th:text="${book.endDate}"></td>
      <td th:text="${roomId}"></td>
      <td th:text="${book.compRoom.id}"></td>
      <!--            <td th:text="${cus.compBookingDTO}"></td>-->
      <!--<td><a th:href="@{/customers/delete/{id}(id=${cus.id})}">Delete</a></td>
      <td><a th:href="@{/customers/edit/{id}(id=${cus.id})}">Update</a></td>
      <td><a th:href="@{/customers/customerBookings/{id}(id=${cus.id})}">Show bookings</a></td>-->
    </tr>
    </tbody>
  </table>
</div>


</body>
</html>
